[Unit]
Description=FRP Client Service
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5s
LimitNOFILE=1048576

ExecStart=/usr/local/bin/frpc -c /etc/frpc/%i.toml

[Install]
WantedBy=multi-user.target
