[Unit]
Description=FRP Server Service
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5s
LimitNOFILE=1048576

ExecStart=/usr/local/bin/frps -c /etc/frps/%i.toml

[Install]
WantedBy=multi-user.target
